APP_NAME=gestor-identidades-python
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

DATABASE_URL=mysql+pymysql://root:secret@localhost:3306/identity_manager

AUTH_ISSUER=https://your-tenant.us.auth0.com/
AUTH_AUDIENCE=https://api.casa-monarca.local
AUTH_JWKS_URL=https://your-tenant.us.auth0.com/.well-known/jwks.json

EXPIRATION_JOB_MINUTES=15
